*{
	padding: 0;
	margin: 0;
}
.main_background{
	background-color: #eee;
	margin: auto;
	width: 60%;
	height: auto;
	box-shadow: 1px 1px 10px 3px #ddd;
}
.main_body{
	margin-top: 190px;
}
body{
	background-color: #fff!important;
}
.fa-check-circle{
	font-size: 60px ! important;
	color: #ff5063;
	text-align: center;
	padding-top: 8px;
}
th{
	font-size: 35px;
	text-align: center ! important;
	font-family: Museo !important;
	padding: 10px 0px ! important;
}
td{
	font-size: 23px;
	text-align: center;
	font-family: Museo !important;
	padding: 10px 0px ! important;
}
.button{
	color: black;
	font-size: 15px;
	text-align: center;
	font-family: Museo !important;
	text-decoration: none ! important;
	background-color: #ff5063;
	padding: 8px;
	border: 0px;
	border-radius: 10px;
	text-transform: uppercase;
}
table{
	width: 100%;
}